/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.HomePage {
  position: relative;
}

.HomePage-container {
  margin: 0 auto;
  top: 0px;
  height: 100vh;
  background: url('bg1.jpg');
  background-size: cover;
  line-height: .5;
  position: relative;
  transition: top .5s ease;
}

.HomePage--slogan{
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 30vh;
}

.HomePage--slogan h1{
  font-size: -webkit-xxx-large;
}

.showAboutContainer {
  top: 600px;
}

button{
  margin-top: 5vh;
  background: rgba(0,0,0,.5);
  padding: 15px;
  border: none;
}

