/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.About-container {
  position: fixed;
  margin: 0 auto;
  height: 600px;
  line-height: .5;
  background-color: #6CD4D6;
  top: -600px;
  transition: top .5s ease;
  z-index: 2;
}

.About--section{
  box-sizing: border-box;
  width: 33%;
  float: left;
  color: white;
  line-height: 1;
  padding: 40px;
  text-align: center;
}

.About--section-container{
  width: 80%;
  margin: 0 auto;
}

.showAbout {
  top: 0;
}

.closeAboutButton {
  float: right;
  color: #32AAAD;
  background: none;
  margin-right: 10px;
  font-size: xx-large;
}