.resultContainer {
  width: 100%;
  overflow: hidden;
}

.fixed {
  position: fixed;
  width: 100vw;
  right: 0;
}

.navBg{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #1396A0;
}