/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.Header {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0);
  color: #fff;
  z-index: 1;
}

.Header-container {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 95%;
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  margin-left: 10px;
}

.Header-nav {
  float: right;
  margin-top: 6px;
}
