/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.HomeInfo-container {
  margin: 50 auto;
  line-height: 1;
  background-color: whitesmoke;
  transition: top .5s ease;
  z-index: 2;
  padding-bottom: 60px;
  padding-top: 60px;
}

.HomeInfo--section{
  box-sizing: border-box;
  width: 100%;
  float: left;
  color: #5D5D5D;
  line-height: 1;
  padding: 40px;
  text-align: center;
}

.HomeInfo--section-container{
  width: 80%;
  margin: 0 auto;
}

.destinations-button{
  background: white;
  border: 1px solid lightgrey;
  color: #5D5D5D;
  padding-left:7%;
  padding-right:7%;
  font-weight: bold;
}