/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.HomeInfo-container {
  margin: 50 auto;
  line-height: 1;
  background-color: white;
  transition: top .5s ease;
  z-index: 2;
}

.HomeInfo--section{
  box-sizing: border-box;
  width: 100%;
  float: left;
  color: #5D5D5D;
  line-height: 1;
  padding: 40px;
  text-align: center;
}

.HomeInfo--section-container{
  width: 80%;
  margin: 0 auto;
}