/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.ResultListing {
  border-top: 1px solid #DEDEDE;
  line-height: 1;
  width: 60%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}