/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.ResultMap {
  line-height: 1;
  width: 40%;
  height: 100%;
  float: right;
  box-sizing: border-box;
}